.emptyContent {
  @apply flex 
  flex-col 
  justify-center 
  items-center 
  gap-y-5 
  h-64;
}

.helpBox {
  @apply flex 
  flex-col 
  gap-4 
  items-center;
}

.time {
  @apply text-nowrap 
    h-[7.8rem] 
    overflow-hidden;
}

.lessons {
  @apply
  active:bg-zinc-300 
  hover:bg-zinc-200 
  dark:active:bg-zinc-800 
  dark:hover:bg-zinc-700 
  cursor-pointer 
  border-1 
  w-full;

  b {
    @apply mt-auto 
    mb-auto 
    text-center 
    text-xl 
    p-2;
  }
}

.body {
  @apply flex 
  items-center 
  justify-center 
  overflow-hidden;
}

.tableColumn {
  @apply max-w-10;

  div {
    @apply flex 
    justify-center 
    text-sm;
  }
}

.mobileTable {
  @apply flex flex-col items-center gap-y-4 my-1;
}
