.sidebar {
  @apply fixed
  right-0
  top-0
  h-full
  w-11/12
  md:w-5/12
  lg:w-4/12
  xl:w-3/12
  2xl:w-2/12
  animate-slideIn
  z-50
  bg-zinc-900
  border-l
  border-zinc-800;

  .content {
    @apply p-4 
    flex 
    flex-col 
    h-full 
    justify-between;
  }
}

.sidebarContent {
  @apply p-5;
}
