.section {
  @apply flex 
  flex-col 
  items-center 
  justify-center 
  gap-4
  md:gap-8 
  py-4 
  md:py-6;
}

.textarea {
  @apply w-1/2;
}

.title {
  @apply text-2xl 
  lg:text-4xl
  font-bold;
}

.buttons {
  @apply flex 
  gap-4;
}
